body {font-family:'poppins', sans-serif;}
h1 {font-size: 30px;}
h2 {font-size: 25pxp;}


.myname { font-size: 40px;color: orange;}
.half {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-top: 2%;
}
.half img {width: 80%;}
.tophalf {background-image:url(images/skull.png);
background-position: center;
background-repeat: no-repeat;
background-blend-mode: multiply;}
section { height: 500px;}
.more_about {color: aliceblue;
background-image: linear-gradient(45deg, lightSalmon
 , tomato );
text-decoration: none;
font-weight: 700;
padding: 8px 15px;
border-radius: 8px;}
.down{ background-image: url(images/dream-bg.png);
background-repeat: no-repeat;
background-position: right, center;}
.skill_f { font-size: 25px;color: orange;}
.list {list-style-type: circle;}
.xp1 { float: left;
    width: 40%;
    margin: 50px;
    padding: 5px 4px;
    box-shadow: 10px 10px 40px gray;
    -moz-box-align: center;
    
    
}
#bodr { border-right: 7px solid salmon;
    background-image: linear-gradient(salmon orange);
    border-image-slice: 1px;
    background-color: white;
}
#bodr2 { border-right: 7px solid skyblue;}
.xp { background-image: url(images/exp-bg.png);
background-repeat: no-repeat;
background-position: left;}